html {
    display: flex;
    justify-content: center;

    background-color: rgb(174,225,245);
    background-image: url(Images/OnePieceMatchMaker\ background.png);
    background-size: cover;

    font-family: 'Koulen', serif;
}

button {

    margin-top: 20px;
    margin-bottom: 20px;
    font-family: inherit;

    font-size: 16px;
}
.header {

    border-width: 2px;
    border-color: white;
    border-style: solid;
    
    background-image: url(Images/New\ Header.png);
    background-size: cover ;
    background-position: center;

    width: 700px;
    height: 150px;

    margin-top: 25px;
    margin-bottom: 35px;


}

.title 
{

    margin-left: 115px;

    width:fit-content;

    text-align: center;
    vertical-align: middle;
    line-height: 75px; 

    color: white;
    font-size: 50px;

    background-color: rgba(169, 169, 169, 0.5)

} 

.characters {

    width: 550px;
    height: 250px;

    margin-top: 25px;
    margin-left: 80px;

    border-width: 2px;
    border-color: white;
    border-style: solid;

    text-align: center;
    color: rgb(93, 93, 93);

    overflow:hidden; overflow-y:scroll;

}

.charactersTitle {
    
    background-color: rgb(32,167,244);

    color: white;

    font-size: 18px;

    margin-top: -5px;
    margin-left: -2px;
    margin-right: -2px;

    padding-top: 3px;
    padding-bottom: 3px;

    border-width: 2px;
    border-color: white;
    border-style: solid;


}



.listOfCharacters {
    text-align: left;
    font-size: 18px;
}

#listOfCharacters {
    margin-left: 10px;
    color: rgb(32,167,244);
    
}

.make-a-match {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 10px;

}

.first {

    height: 250px;
    width: 250px;

    border-width: 2px;
    border-color: white;
    border-style: solid;

    background-image: url(Images/nico\ robin.webp);
    background-size: cover ;
    background-position: center;

}

.white-space {
    height:200px;
    width: 200px;

}

.heart {
    height: 100px;
    width: auto;

    padding-top: 40%;
    padding-left: 20%;
}

.second {

    height: 250px;
    width: 250px;

    
    
    border-width: 2px;
    border-color: white;
    border-style: solid;

    background-image: url(Images/franky.jpeg);
    background-size: cover;
    background-position: center;

}

.names {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-top: 20px;

    color: white;

    text-align: center;
    
}

#first-name {


    width: 150px;
    height:fit-content;

    background-color: rgb(124, 47, 0);

    margin-right: 7.5%;
}


#second-name {

    width: 150px;
    height:fit-content;

    background-color: rgb(124, 47, 0);

    margin-left: 7.5%;
}

.border {
    border-width: 2px;
    border-color: white;
    border-style: solid;
}



/* @media screen and (max-width: 1525px){
    .header {
        width: 700px;
        height: 150px;
    }
}

@media screen and (max-width: 1250px){
    .header {
        width: 550px;
        height: 120px;
    }
}

@media screen and (max-width: 1050px){
    .header {
        width: 500px;
        height: 110px;
    }
}

@media screen and (max-width: 800px){
    .header {
        width: 450px;
        height: 100px;
    }
}

@media screen and (max-width: 700px) {
    .header {
        width: 400px;
        height: 90px;
    }
}

@media screen and (max-width: 500px) {
    .header {
        width: 350px;
        height: 80px;
    }
}

@media screen and (max-width: 400px) {
    .header {
        width: 300px;
        height: 70px;
    }
}

@media screen and (max-width: 300px) {
    .header {
        width: 250px;
        height: 60px;
    }
} */
